@font-face {
	font-family: 'Ubuntu Bold';
	src: url('../fonts/Ubuntu-B.eot');
	src: local('☺'),
	url('../fonts/Ubuntu-B.woff') format('woff'),
	url('../fonts/Ubuntu-B.ttf') format('truetype'),
	url('../fonts/Ubuntu-B.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'NeoSansCyrMedium';
	src: url('../fonts/NeoSansCyr-Medium.eot');
	src: local('☺'),
	url('../fonts/NeoSansCyr-Medium.woff') format('woff'),
	url('../fonts/NeoSansCyr-Medium.ttf') format('truetype'),
	url('../fonts/NeoSansCyr-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.hidden {
	display: none;
	visibility: hidden;
}
.visible-phone {display: none !important;}
.visible-tablet {display: none !important;}
.hidden-desktop {display: none !important;}
.visible-desktop {display: inherit !important;}
body {
	background: #ffffff;
	font: 13px/20px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
a {
	color: #395aa7;
	text-decoration: underline;
}
a:hover {
	color: #395aa7;
	text-decoration: none;
}
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
}
.front-promo {
	background: url("../img/promo-bg.png");
	color: #fff;
	line-height: 20px;
	margin: 0 0 49px;
	overflow: hidden;
	width: 100%;
}
.front-promo-inner {
    padding: 19px 0 27px;
    background: url("../img/flags.png") repeat-y center -42px;
}
.navbar {
	background: #192d53;
	margin: 0;
	padding: 28px 0 31px;
}
.white-page .navbar {background: #fff;}
.navbar .container {width: 940px;}
.navbar-inner {
	background: none repeat scroll 0 0  ;
	border: medium none;
	padding: 0;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	filter: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.navbar .nav {
	font: 13px/17px "Ubuntu Bold", Arial, Helvetica, sans-serif;
	margin: 5px -10px 0 0;
	text-transform: uppercase;
}
.navbar .nav > li {margin: 0 44px 0 0;}
.navbar .nav > li > a {
	text-shadow: none;
	color: #ffffff;
	padding: 5px 0 0;
	display: block;
	border-top: 2px solid #c50e25;
}
.white-page .navbar .nav > li > a {color: #192d53;}
.navbar .nav a:hover {color: #9ca6b9;}
.white-page .navbar .nav a:hover {color: #192d53;}
.navbar .nav > li > a:hover,
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
	color: #9ca6b9;
	border-top: 2px solid #192d53;
	background: none;
	text-decoration: none;
	background-color: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.white-page .navbar .nav > li > a:hover,
.white-page .navbar .nav > li.active > a,
.white-page .navbar .nav > li.active > a:hover,
.white-page .navbar .nav > li.active > a:focus {
	color: #192d53;
	border-top: 2px solid #fff;
}
.form-search {
	float: right;
	margin: 8px 0 0;
	position: relative;
}
.form-search input[type="search"] {
	border: 1px solid #394f78;
	color: #4b6493;
	font: 15px/16px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 4px 32px 4px 9px;
	background: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	z-index: 1;
	width: 148px;
}
.white-page .form-search input[type="search"] {
	border: 1px solid #d5dae2;
	color: #395aa7;
}
.form-search input[type="button"] {
	background: url("../img/btn-form-search.png") no-repeat;
	border: medium none;
	height: 28px;
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
	z-index: 5;
}
.form-search input[type="button"] {background: url("../img/btn-white-form-search.png") no-repeat;}
.logo {
	background: url("../img/logo.png") no-repeat;
	float: left;
	height: 44px;
	margin: -3px 98px 0 -3px;
	overflow: hidden;
	text-indent: -9999px;
	width: 145px;
}
.white-page .logo {
	background: url("../img/white-logo.png") no-repeat;
	height: 48px;
	width: 164px;
}
.logo a {
	display: block;
	height: 100%;
}
.slogan {
    color: #fff;
    float: right;
    font: 12px/16px Verdana,Geneva,Arial,Helvetica,sans-serif;
    padding: 6px 0 0;
    width: 300px;
}
.white-page .slogan {
	color: #97A2B6;
	margin: 0 5px 0 0;
	width: 190px;
}
.inner .slogan,
.white-page .slogan {
	color: #97a2b6;
	margin: 0;
}
.three-columns {
	margin-bottom: 35px;
}
.three-columns:after {
	clear: both;
	content: "";
	display: block;
}
.three-columns strong.ttl {
	border-bottom: 2px solid #192D53;
	display: block;
	font: bold 17px/21px "Lucida Console", Monaco, monospace;
	letter-spacing: 1px;
	margin: 0 0 7px;
	padding: 0 0 10px;
	text-transform: uppercase;
	word-spacing: -4px;
}
.about-project {
    float: left;
    width: 300px;
}
.about-project strong.ttl {border-bottom: 2px solid #c50e25;}
.three-columns p {margin: 0;}
.three-columns .row {margin: 0;}
.about-project .more {float: right;}
.last-comments {
    float: left;
    margin: 0 0 0 37px;
    position: relative;
    width: 360px;
}
.last-comments .span-holder {
	padding: 0 0 0 62px;
	margin: 0;
	background: url("../img/icon1.png") no-repeat 0 5px;
}
.three-columns .last-comments strong.ttl {margin: 0 0 38px;}
.last-comments .author {color: #a4afc7;}
.last-comments p {margin: 0 0 5px;}
.last-comments .author a {
	font-weight: bold;
	text-decoration: underline;
}
.last-comments .author a:hover {text-decoration: none;}
.last-comments .date {
	color: #8694b4;
	font: 12px/13px "Neo Sans Cyr", Arial, Helvetica, sans-serif;
	left: 0;
	position: absolute;
	text-align: center;
	top: 75px;
	width: 42px;
}
.last-comments .date strong {
	color: #395aa7;
	display: block;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 -5px;
	overflow: hidden;
	position: relative;
}
.last-comments .comments-holder {overflow: hidden;}
.archive {
    float: left;
    margin: 0 0 0 38px;
    width: 203px;
}
.archive .span-holder {
	margin: 0;
	padding: 0 0 0 60px;
	background: url("../img/icon2.png") no-repeat 0 5px;
}
.archive ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.archive li {overflow: hidden;}
.news {overflow: hidden;}
.news li.even {background: #f6f6f6}
.news .box-content {overflow: hidden;}
.news .row-news {
	margin: 0 0 9px !important;
	padding: 0 !important;
}
.news .date {
	border-right: 1px solid #d2d8e3;
	float: left;
	margin: 0 24px 0 0;
	min-height: 75px;
	padding: 25px 4px 0 0;
	text-align: center;
	width: 66px;
}
.news .date strong {
	color: #fff;
	display: block;
	font: 30px/33px "Neo Sans Cyr", Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 -5px;
	overflow: hidden;
	position: relative;
}
.news .date span {
	color: #99c3f6;
	display: block;
	font-size: 17px;
	line-height: 20px;
}
.news h1 {
	font: 28px/34px "Neo Sans Cyr", Arial, Helvetica, sans-serif;
	margin: 0 0 9px 95px;
}
.news .img-col {
	float: left;
	margin: 0 15px 0 0;
	width: 140px;
}
.news img {display: block;}
.news .text {overflow: hidden;}
.news .comments {
	background: url("../img/separator.png") no-repeat 0 2px;
	color: #9DC9FE;
	font: 12px / 17px Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding: 0 0 0 22px;
	text-decoration: underline;
}
.news .comments:hover {text-decoration: none;}
.news p {margin: 0;}
.news .row {
	margin: 0;
	padding: 0 0 0 95px;
}
.news .author {
	float: right;
	font: 12px/16px Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.news .author a {
	color: #9dc9fe;
	text-decoration: underline;
	font-weight: bold
}
.news .author a:hover {text-decoration: none;}
.front-promo .container {float: none;}
ul.news {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.front-promo .news .item {padding: 19px 81px 20px 61px;}
.item .front-promo .news .item {padding: 19px 81px 12px;}
ul.news li {padding: 40px 80px 48px 61px;}
ul.news .author a {color: #395aa7;}
ul.news .comments {
	background-position: 0 -66px;
	color: #395aa7;
}
.news .pull-left {margin: 0 20px 10px 0;}
.news .pull-right {margin: 0 0 0 15px;}
ul.news .date strong {color: #395aa7;}
ul.news .date span {color: #8694b4;}
.footer {
	overflow: hidden;
	font: 11px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #97a2b6;
	width: 940px;
    height: 39px;
    line-height: 39px;
	margin: 0 auto;
	padding: 40px 0;
	text-align: center;
}
.footer a {
	text-decoration: none;
	color: #97a2b6;
}
.footer a:hover {text-decoration: underline;}
.inner .slogan {
	float: right;
	width: 305px;
	color: #fff;
}
.inner .front-promo {
	background: #f6f6f6;
	color: #2f343c;
}
.inner .front-promo .news h1 {color: #395aa7;}
.inner .news .date {color: #8d9bb8;}
.inner .news .date strong {color: #395aa7;}
.inner .news .author a {color: #395aa7;}
.inner .front-promo p {margin: 0 0 10px;}
.add-comment {
	background: #f6f6f6;
	font-size: 12px;
}
.add-comment h2 {
	border-bottom: 2px solid #c50e25;
	color: #192d53;
	font: 16px/21px "Ubuntu Bold", Arial, Helvetica, sans-serif;
	margin: 0 0 30px;
	padding: 0 0 10px;
	text-transform: uppercase;
}
.add-comment .col1 {
	float: left;
	width: 302px;
}
.add-comment .col2 {
	float: right;
	width: 460px;
}
.add-comment input[type="text"] {
	font: 12px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0 0 22px;
	padding: 8px 11px;
	width: 277px;
}
.add-comment textarea {
	color: #97a2b6;
	font: 12px/15px Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 134px;
	padding: 11px;
	width: 436px !important;
}
.add-comment .row {margin: 0;}
.add-comment .row input[type="checkbox"] {
	float: left;
	height: 16px;
	margin: 0 9px 0 0;
	padding: 0;
	width: 16px;
}
.add-comment label {
	font-size: 12px;
	line-height: 16px;
}
.add-comment .holder {padding: 41px 80px;}
.add-comment .holder:after {
	clear: both;
	content: "";
	display: block;
}
.add-comment .col-holder {margin: 0 0 5px;}
.add-comment .capcha {
	float: right;
	line-height: 36px;
}
.add-comment .capcha span {
	float: left;
	margin: 0 7px 0 0;
}
.add-comment .capcha input[type="text"] {
	float: left;
	margin: 3px 6px 0 0;
	padding: 4px 0;
	text-align: center;
	width: 35px;
}
.add-comment .capcha label {
	float: left;
	font-weight: bold;
	line-height: 36px;
	margin: 0 24px 0 0;
}
.add-comment button[type="button"] {
	float: left;
	font: 13px/15px NeoSansCyrMedium,Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	border: none;
	background: #3a5fb6;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNWZiNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzQ2ODYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #3a5fb6 0%, #2c4686 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a5fb6), color-stop(100%,#2c4686));
	background: -webkit-linear-gradient(top,  #3a5fb6 0%,#2c4686 100%);
	background: -o-linear-gradient(top,  #3a5fb6 0%,#2c4686 100%);
	background: -ms-linear-gradient(top,  #3a5fb6 0%,#2c4686 100%);
	background: linear-gradient(to bottom,  #3a5fb6 0%,#2c4686 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5fb6', endColorstr='#2c4686',GradientType=0 );
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #ffffff;
	width: 138px;
	padding: 1px;
	margin: 0;
	text-align: center;
}
.add-comment button[type = "button"] > span {
	display: block;
	margin: 0;
	float: none;
	background: url("../img/bg-submit.png") no-repeat;
}
.add-comment button[type="button"] > span > span {
	background: url("../img/bg-submit.png") no-repeat scroll 100% -55px  ;
	display: block;
	float: none;
	margin: 0;
	padding: 9px 0;
}
.add-comment button[type="button"]:hover {
	background: #2c4686;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjNDY4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTVmYjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #2c4686 0%, #3a5fb6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c4686), color-stop(100%,#3a5fb6));
	background: -webkit-linear-gradient(top,  #2c4686 0%,#3a5fb6 100%);
	background: -o-linear-gradient(top,  #2c4686 0%,#3a5fb6 100%);
	background: -ms-linear-gradient(top,  #2c4686 0%,#3a5fb6 100%);
	background: linear-gradient(to bottom,  #2c4686 0%,#3a5fb6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4686', endColorstr='#3a5fb6',GradientType=0 );
}
.add-comment .text-holder.holder {
	background: none repeat scroll 0 0 #E6E6E6;
	line-height: 18px;
	padding: 24px 79px 27px;
}
.add-comment .note {
	float: left;
	margin: 0 20px 0 0;
	width: 220px;
}
.add-comment .note span {display: block;}
.add-comment .note-text {
	overflow: hidden;
	color: #9e9e9e;
}
.add-comment .capcha-content {float: left;}
.box-checkbox {
	float: left;
	padding: 9px 0 0;
	width: 50%;
}
.main-container {font-size: 12px;}
aside {
	float: left;
	width: 225px;
}
aside .box {margin: 0 0 54px;}
aside .box h3 {
	border-bottom: 2px solid #cdd3e0;
	color: #192d53;
	float: left;
	font: 16px/20px "Ubuntu Bold", Arial, Helvetica, sans-serif;
	margin: 0 0 8px;
	padding: 0 0 10px;
	text-transform: uppercase;
}
.last-item {
	list-style: none;
	margin: 0;
	padding: 0;
}
.last-item time {color: #97a2b6;}
.box.archive {
	float: none;
	width: auto;
}
.content {
	float: right;
	width: 699px;
}
.list-comments .box {
	border-top: 1px solid #d2d8e3;
	margin: 0 0 29px;
	padding: 21px 0 0;
}
.list-comments .box:first-child {
	border: none;
	padding: 0;
}
.list-comments .heading {
	background: url("../img/icon1.png") no-repeat 0 5px;
	margin: 0 0 17px 97px;
	min-height: 42px;
	padding: 0 0 4px 62px;
}
.list-comments .box-content {overflow: hidden;}
.list-comments h2 {
	border-bottom: 2px solid #cdd3e0;
	color: #192d53;
	float: left;
	font: 16px/20px "Ubuntu Bold", Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0 0 10px;
	text-transform: uppercase;
}
.comments-text {
	margin: 0 0 7px;
	overflow: hidden;
}
.list-comments .row {margin: 0;}
.list-comments .reply {
	background: url("../img/separator1.png") no-repeat 0 3px;
	float: left;
	margin: 0 16px 0 0;
	padding: 0 0 0 13px;
}
.list-comments .rating {
	color: #395aa7;
	float: left;
	margin: 0 9px 0 0;
}
.list-comments .rating.noactive {color: #cad3d8;}
.list-comments .rating span {color: #8694b4;}
.list-comments .rating-list {
	float: left;
	margin: 0 9px 0 0;
}
.list-comments .votes {
	float: left;
	color: #bcbcbc;
}
.list-comments .ava {
	float: left;
	margin: 3px 25px 0 0;
}
.list-comments .ava img {
	display: block;
	margin: 0 0 6px;
}
.list-comments .ava .text {
	font-weight: bold;
	overflow: hidden;
	text-align: center;
}
.list-comments time {
	float: left;
	font: 20px/22px NeoSansCyrMedium, Arial, Helvetica, sans-serif;
	margin: 3px 30px 0 0;
	text-align: center;
}
.list-comments time strong {
	color: #395aa7;
	display: block;
	font-weight: normal;
	margin: 0 0 -5px;
	overflow: hidden;
	position: relative;
}
.list-comments time span {
	border-bottom: 2px solid #d1d1d1;
	color: #8694b4;
	display: block;
	font-size: 12px;
	line-height: 15px;
	margin: 0 0 6px;
	padding: 0 0 6px;
}
.list-comments time em {
	color: #395aa7;
	display: block;
	font-size: 12px;
	line-height: 15px;
	font-style: normal;
}
.list-comments .comments-holder {overflow: hidden;}
.list-comments .list-comments {
	border-top: 1px solid #d2d8e3;
	margin: 20px 0 0;
}
.list-comments .list-comments .box {
	background: url("../img/separator2.png") no-repeat 18px 53px;
	margin: 0 0 20px;
	padding: 21px 0 0 78px;
}
.style-red .navbar {
	background: #a50022;
}
.style-red .navbar .nav > li > a {
	border-top: 2px solid #3a57b1;
}
.style-red .navbar .nav > li > a:hover,
.style-red .navbar .nav > li.active > a,
.style-red .navbar .nav > li.active > a:hover,
.style-red .navbar .nav > li.active > a:focus {
    border-top: 2px solid #a50022;
}
.style-red .logo {
    background: url("../img/logo-red.jpg") no-repeat;
    height: 69px;
    margin: -16px 98px -20px -4px;
}
.dev {
    float: right;
    display: block;
    width: 39px;
    height: 39px;
    background: url('../img/copyright.png') no-repeat;
    text-indent: -5000px;
    margin-left: 20px;
}
.dev:hover {
    background-position: 0 -39px;
}























.main-book  {
	height: 100%;
}
.main-book body {
	background: none repeat scroll 0 0 #F6F6F6;
	height: 100%;
	min-width: 1003px;
	font: 12px/20px Verdana,Geneva,Arial,Helvetica,sans-serif;
}
.main-book .logo {
    background: url("../img/logo-book.png") no-repeat scroll 0 0  ;
    height: 51px;
    margin: -6px 11px -5px -2px;
    width: 60px;
}
.main-book .header {
	background: none repeat scroll 0 0 #192D53;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.72);
	color: #fff;
	z-index: 100;
	position: absolute;
	width: 100%;
	line-height: 33px;
}
.main-book .header:after {
	content: "";
	clear: both;
	display: block;
}

.header h1 {
    color: #FFFFFF;
    float: left;
    font: 20px/35px Ubuntu,Arial,Helvetica,sans-serif;
    margin: 0 8px 0 0;
}
.jqm-navmenu-link {
    background: url("../img/navmenu-link.jpg") no-repeat scroll 0 0  ;
    display: inline-block;
    height: 20px;
    margin: 11px 0 0 -4px;
    overflow: hidden;
    text-indent: -9999px;
    width: 23px;
	display: none;
}
.main-book .form-search {
    float: left;
    margin: 5px 17px 0 0;
}
.ui-input-search {
	float: left;
}
.form-search fieldset {
	position: relative;
}
.ui-btn-inner {
	display: none;
}
.main-book .form-search input[type="search"] {
    background: none repeat scroll 0 0  ;
    border: 1px solid #394F78;
    float: left;
    position: relative;
    width: 171px;
    z-index: 1;
}
.form-search input[type="submit"] {
    background: url("../img/btn-search.png") no-repeat 50% 50%;
    border: 0 none;
    float: left;
    font-size: 0;
    height: 28px;
    line-height: 0;
    margin: 1px 0 0 -27px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: -99999px;
    width: 26px;
    z-index: 5;
}
.header .col {
	float: right;
}
.main-book .header .holder {
    margin: 9px;
}
.main-book .header .holder:after {
	content: "";
	display: block;
	clear: both;
}
.header .user-info {
	float: left;
}
.header .user-info img {
    float: right;
}
.header .user-info .link {
    background: url("../img/separator3.png") no-repeat scroll 1px 5px  ;
    color: #FFFFFF;
    font: bold 12px/17px Verdana,Geneva,Arial,Helvetica,sans-serif;
    padding: 0 0 0 20px;
}

.user-info .serv {
    float: left;
    position: relative;
}
.user-info .serv ul {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    font: 12px/16px Verdana,Geneva,Arial,Helvetica,sans-serif;
    left: -9999px;
    list-style: none outside none;
    margin: 0;
    padding: 11px 5px 13px 16px;
    position: absolute;
    top: 41px;
    width: 119px;

}
.user-info .serv:hover  ul,
.user-info .serv:active  ul {
	left: -12px;
}
.user-info .serv ul:after {
    background: url("../img/separator5.png") no-repeat;
    content: "";
    height: 15px;
    left: 50%;
    margin: 0 0 0 -11px;
    position: absolute;
    top: -12px;
    width: 22px;
}
.user-info .serv ul li {
	margin: 0 0 3px;
	overflow: hidden;
}
.user-info .serv ul a {color: #395aa7}

.main-book .main {
	margin:59px 59px 0 14%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.main.fullscreen {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.container-holder {
	position: relative;
}
.main nav {
	overflow: hidden;
}
.leftpanel,
.rightpanel {
	background: #dcdcdc;
	width: 56px;
}
.leftpanel {border-right: 1px solid #cfcfcf;}
.rightpanel {border-left: 1px solid #cfcfcf;}
.container-scroll {
	background: #fff;
	border: solid #e2e2e2;
	border-width: 0 1px;
}
.container-scroll-box {overflow: auto;}
.container-scroll-box-holder {
    height: 462px;
    padding: 28px;
}
.main-book .wrapper {
    min-height: 100%;
    overflow: hidden;
}
.main-book .container h2 {
    color: #395AA7;
    font: 28px/34px "Neo Sans Cyr",Arial,Helvetica,sans-serif;
    margin: 0 0 16px;
}
.subnav-fixed {
	-moz-box-sizing: border-box;
	left: 0;
	margin: 0 0 -10px;
	position: relative;
	transition: all 0.3s ease 0s;
	width: auto;
	z-index: 5;
}
.subnav-fixed-bottom {
    margin: 0 0 -1px 0;
}
.subnav-fixed-holder {
	overflow: hidden;
	padding: 0 0 10px;
}
.subnav-fixed.subnav-fixed-bottom .subnav-fixed-holder {padding: 0;}
.subnav-fixed-frame {
    background: #fff;
	border: 1px solid #E2E2E2;
    padding: 15px 29px 16px;
}
.subnav-fixed.subnav-fixed-shadow .subnav-fixed-frame {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	border: 1px solid #e2e2e2;
	border-bottom: 0;
}
.subnav-fixed.subnav-fixed-shadow.subnav-fixed-bottom .subnav-fixed-frame {
    box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.subnav-fixed .up,
.subnav-fixed .bottom {
    background: url("../img/separator-top-row.png") no-repeat;
    float: left;
    height: 16px;
    margin: 2px 9px 0 0;
    overflow: hidden;
    width: 16px;
}
.subnav-fixed .bottom {background: url("../img/separator-top-row.png") no-repeat 0 -16px;}
.subnav-fixed .play {
    background: url("../img/icon4.png") no-repeat 0 0  ;
    float: right;
    height: 21px;
    margin: 0 0 0 5px;
    width: 23px;
	position: relative;
}
.subnav-fixed .share {
    background: url("../img/icon4.png") no-repeat -38px 0  ;
    float: right;
    height: 21px;
    margin: 0 0 0 5px;
    overflow: hidden;
    width: 21px;
}
.play-box {
    left: -9999px;
    position: absolute;
    top: 0;
    z-index: 999;
}
.play-box-holder {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    margin: 36px 0 0 -103px;
    position: relative;
}
.play-box-holder:after {
    background: url("../img/separator5.png") no-repeat;
    content: "";
    height: 15px;
    position: absolute;
    right: 30px;
    top: -13px;
    width: 19px;
}
.audio {
    background: #fff !important;
    display: block;
    width: 147px;
}
.main-book .subnav-fixed h2 {
	margin: 0;
	color: #395aa7;
	font: 28px/32px NeoSansCyrMedium, Arial, Helvetica, sans-serif;
}
.main-book .subnav-fixed h2 {
    color: #192d53;
    font: 14px/19px Ubuntu,Arial,Helvetica,sans-serif;
    margin: 0;
	text-transform: uppercase;
}
.main-book .subnav-fixed h2 a {color: #192d53;}
.main-book p {margin: 0 0 20px;}
.main-book .container,
.main-book .navbar-static-top .container,
.main-book .navbar-fixed-top .container,
.main-book .navbar-fixed-bottom .container {

    width: auto;
}
.jqm-demos {position: relative;}
.left-box {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 58px;
    z-index: 10;
}
.right-box {
    position: absolute;
    right: 0;
    top: 58px;
    z-index: 10;
}
.left-box .tab-content,
.right-box .tab-content {
    overflow: hidden;
	float: left;
	position: relative;
}
.tab-content > .tab {
    display: none;
    margin-left: -300px;
}
.tab-scroll {
    background: #f6f6f6;
    border-bottom: 1px solid #e2e2e2;
    float: left;
    overflow: auto;
    width: 238px;
	border-right: 1px solid #d8d8d8;
}
.right-box .tab-scroll {
    border-left: 1px solid #d8d8d8;
    border-right: medium none;
}
.right-box .tab-content {float: left;}
.tab-holder {margin: 30px 12px 0;}
.tabset {
    background: none repeat scroll 0 0 #DCDCDC;
    float: left;
    list-style: none outside none;
    margin: 0 0 -9999px;
    padding: 0 0 9999px;
	box-shadow: -2px 0 0 0 #cfcfcf inset;
	-moz-box-shadow: -2px 0 0 0 #cfcfcf inset;
	-webkit-box-shadow: -2px 0 0 0 #cfcfcf inset;
}
.right-box .tabset {
	float: right;
	box-shadow: 2px 0 0 0 #cfcfcf inset;
	-moz-box-shadow: 2px 0 0 0 #cfcfcf inset;
	-webkit-box-shadow: 2px 0 0 0 #cfcfcf inset;
}
.tabset li {
    list-style: none outside none;
    margin: 0 0 2px;
    overflow: hidden;
    padding: 0;
}
.tabset a {
	display: block;
	padding: 10px;
	outline: none;
	position: relative;
}
.tabset .active:after {
    background: url("../img/bg-tab-active.png") no-repeat;
    content: "";
    height: 27px;
    margin: -13px 0 0;
    position: absolute;
    right: -4px;
    top: 50%;
    width: 15px;
}
.right-box .tabset a:active:after,
.right-box .tabset a:hover:after,
.right-box .tabset .active:after {
    background-position: 0 -33px;
    left: -1px;
    right: auto;
}
.tabset span {
	background: url('../img/icon-nav.png') no-repeat;
	width: 38px;
	display: block;
	height: 38px;
	overflow: hidden;
	text-indent: -9999px;
	position: relative;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
}
.tabset .tab-1 span {background-position: 0 3px;}
.tabset .tab-1:active span,
.tabset .tab-1:hover span,
.tabset .tab-1.active span {
	background-position: 0 -437px;
}
.tabset .tab-2 span {background-position: 0 -56px;}
.tabset .tab-2:active span,
.tabset .tab-2:hover span,
.tabset .tab-2.active span {
	background-position: 0 -496px;
}
.tabset .tab-3 span {background-position: 0 -117px;}
.tabset .tab-3:active span,
.tabset .tab-3:hover span,
.tabset .tab-3.active span {
	background-position: 0 -557px;
}
.tabset .tab-4 span {background-position: 0 -177px;}
.tabset .tab-4:active span,
.tabset .tab-4:hover span,
.tabset .tab-4.active span {
 background-position: 0 -617px;
}
.tabset .tab-5 span {background-position: 0 -238px;}
.tabset .tab-5:active span,
.tabset .tab-5:hover span,
.tabset .tab-5.active span {
	background-position: 0 -678px;
}
.tabset .tab-6 span {background-position: 0 -296px;}
.tabset .tab-6:active span,
.tabset .tab-6:hover span,
.tabset .tab-6.active span {
	background-position: 0 -736px;
}
.tabset .tab-7 span {background-position: 0 -356px;}
.tabset .tab-7:active span,
.tabset .tab-7:hover span,
.tabset .tab-7.active span {
	background-position: 0 -796px;
}
.tabset em {
    background: #fff;
    border: 2px solid #cb0d23;
    border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    color: #cb0d23;
    font: bold 12px/15px Arial,Helvetica,sans-serif;
    height: 15px;
    position: absolute;
    right: 0;
    text-align: center;
    text-indent: 0;
    top: 0;
    width: 15px;
}
.right-box .tabset em {
	border-color: #395aa7;
	color: #395aa7;
}
.tab-content .tab img.main {
    display: block;
    margin: 0 auto 17px;
}
.tab-content .tab h3 {
    border-bottom: 2px solid #cb0d23;
    color: #000;
    font: bold 16px/20px Arial,Helvetica,sans-serif;
    margin: 0 0 28px;
    padding: 0 13px 21px;
}
.tab-content ol {
    font-size: 13px;
    margin: 0;
    padding: 0 0 0 19px;
}
.tab-content ol li {margin: 0 0 20px;}
.tab-content ol li.active {border-bottom: 1px solid #D8D8D8;}
.tab-content ol li.active > a {font-weight: bold;}
.tab-content ol li:after {
	content: "";
	display: block;
	clear: both;
}
.tab-content ol ol {
    font-size: 12px;
    margin: 0;
    padding: 15px 0 17px 14px;
}
.tab-content ol ol li {margin: 0 0 9px;}
.tab-content ol ol ul {
    margin: 0 0 0 18px;
    padding: 11px 0 0;
	font-size: 11px;
}
.tab-content ul li {margin: 0 !important;}
.tab-content a {
	color: #395aa7;
	text-decoration: underline;
}
.tab-content a:hover{text-decoration: none;}
.tab-content ol ol a {color: #010101;}
.tab-content .heading {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	height: 52px;
    overflow: hidden;
	padding: 0 57px 0 17px;
    position: relative;
    width: 164px;
    z-index: 2;
	border-right: 1px solid #d8d8d8;
}
.right-box .tab-content .heading {
	border-left: 1px solid #d8d8d8;
	border-right: none;
}
.tab-content .heading h3 {
    color: #000000;
    font: bold 14px/18px Arial,Helvetica,sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
	border: none;
}
.tab-content .heading h3 span {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}



.tab-content .tab-preambula {
    overflow: hidden;
	padding: 25px 17px 0 17px;
    position: relative;
    width: 204px;
    z-index: 2;
	border-right: 1px solid #d8d8d8;
	background: #f6f6f6;
}

.tab-content .tab-preambula img{
	height: 130px;max-width: 180px;width:auto;
}


.tab-content .tab-preambula+.tab-scroll .tab-holder{margin-top: 0;}



.tab-btn {
    position: absolute;
    right: 5px;
    top: 1px;
    z-index: 5;
}
.close,
.overlay,
.push {
    background: url("../img/icon3.png") no-repeat -62px -3px;
    float: right;
    height: 15px;
    margin: 18px 0 0 11px;
    opacity: 1;
    overflow: hidden;
    text-indent: -9999px;
    width: 15px;
	outline: none;
}
.close {background: url("../img/icon5.png") no-repeat}
.overlay {
    background-position: -1px 0;
    height: 22px;
    margin-top: 15px;
    width: 20px;
}
.push {background-position: -28px 0;}

.right-box .close {background-position: 0 -16px;}
.top-row, .bottom-row {
    background: url("../img/separator-top-row.png") no-repeat 30px 50%;
    left: 0;
    line-height: 60px;
    padding: 0 0 0 61px;
    position: absolute;
    top: 0;
}
.bottom-row {
	bottom: 0;
	top: auto;
	background: url("../img/separator-bottom-row.png") no-repeat 30px 50%;
}
.main-book .footer {
	padding: 0;
	height: 50px;
}
.btn-navbar {
	display: none;
}


.main.pushed-left {
    margin-left: 296px;
}
.main.pushed-right {
	margin-right: 296px
}





@media screen and (max-width: 480px) {
	body {
		min-width: 400px;
		font-size: 14px;
		line-height: 1.3;
	}


	.list-comments .box {
		margin: 0 0 15px;
		padding: 15px 0 0;
	}
	.comments-text {margin: 0;}
	.list-comments .list-comments .box {
		background: url("../img/separator2.png") no-repeat 11px 46px;
		margin: 0 0 20px;
		padding: 15px 0 0 40px;
	}
	.list-comments .heading {
		margin: 0 0 5px;
		padding: 0 0 4px 62px;
	}
	.list-comments .comments-holder {clear: both;}
	.list-comments .rating-list {clear: both;}
	.list-comments .comments-holder {
		clear: both;
		padding: 5px 0 0;
	}
	.about-project {
	    margin: 0 0 25px;
	    width: auto;
	}
	.three-columns .two-columns {clear: both;}
	/* main book */
	.header h1 {font-size: 16px;}
	.main-book .container,
	.main-book .navbar-static-top .container,
	.main-book .navbar-fixed-top .container,
	.main-book .navbar-fixed-bottom .container {
	    padding: 0;
	}
	.main-book body {min-width: 100%;}
	.main-book .header .holder {margin: 6px 16px;}
	.subnav-fixed {
	}
	.subnav-fixed-bottom {
	    top: auto;
	}
	.header .col:after {
		content: "";
		display: block;
		clear: both;
	}
	.header .user-info {
	    float: right;
	    margin: 0;
	}
	.jqm-navmenu-link {float: right; display: block;}


	.serv {
		clear: both;
		overflow: hidden;
	}
	.serv .link {
		display: none;
	}


	.subnav-fixed-frame {padding: 15px 15px 16px;}
	.container-scroll-box-holder {padding: 16px;}
}
.nav-collapse.collapse {
    height: 0;
    overflow: hidden;
}
.main-book .navbar {
	padding: 0;
}
.main-book .navbar .nav li a,
.main-book .style-red .navbar .nav li a {
    border: medium none;
    color: #192D53;
    padding: 0 20px;
}
.ava {
    float: right;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px;
	margin: 0 0 0 17px;
}
.ava img {
	width: 100%;
	position: relative;
	z-index: 1;
}
@media screen and (max-width: 719px) {

	.ava .btn-navbar:hover,
	.ava .btn-navbar:focus,
	.ava .btn-navbar:active,
	.ava .btn-navbar.active,
	.ava .btn-navbar.disabled,
	.ava .btn-navbar[disabled],
	.ava .btn-navbar {
	    background: none;
	    border: medium none;
	    display: block;
	    height: 100%;
	    left: 0;
	    margin: 0 !important;
	    padding: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    z-index: 5;
	}
	.tab-content ol li {
    margin: 0 0 9px;
}

.main.pushed-left {
    margin-left: 0px;
}
.main.pushed-right {
	margin-right: 0px
}

	body {
		font: 15px/1.3 Verdana, Geneva, Arial, Helvetica, sans-serif;
		min-width: 320px;
	}
	.main-container {margin: 0;}
	.navbar .container,
	.container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container, .footer {
		width: auto;
	}
	.three-columns .last-comments strong.ttl {
		margin: 0 0 15px;
	}
	.logo {margin: -3px 10px 0 -3px;	}
	.front-promo {margin: 0 0 30px;}

	.front-promo .news {padding: 0;	}
	.list-comments .list-comments .box {
		padding: 21px 0 0 60px;
	}
	.front-promo .news .item {padding: 5px 5%;}
	.about-project {
		margin: 0 0 15px;
		padding: 0;
		width: auto;
	}
	.last-comments .span-holder {padding: 0 0 0 62px;}
	.archive .span-holder {
		float: none;
		padding: 0 0 0 62px;
	}
	.row {margin: 0;}
	.three-columns {margin: 0 5% 15px;	}
	.three-columns .two-columns {
	    clear: both;
	    padding: 0;
	}
	.news-text {overflow: visible;}
	.news .row {
		margin: 0;
		padding: 0;
	}
	.news .date {
		padding-right: 18px;
		width: auto;
	}
	.news h1 {margin: 0 0 9px 78px;	}
	.footer {padding: 4% 0;	}
	/* navbar start */
	.navbar {padding: 28px 0 0;	}
	.navbar .navbar-row {padding: 0 5% 28px;}
	.navbar .navbar-row:after {
		clear: both;
		content: "";
		display: block;
	}
	.navbar .nav {
		float: none;
		margin: 0;
		background: #fff;
	}
	.navbar .nav li,
	.style-red .navbar .nav li {
		float: none;
		line-height: 39px;
		margin: 0;
		border-bottom: 1px solid #e8e8e8;
	}
	.navbar .nav li:last-child,
	.navbar .nav li.active,
	.style-red .navbar .nav li:last-child,
	.style-red .navbar .nav li.active {
		border: none;
	}
	.navbar .nav li a,
	.style-red .navbar .nav li a {
		border: none;
		color: #192d53;
		padding: 0 73px;
	}
	.navbar .nav a:hover,
	.style-red .navbar .nav a:hover {
		color: #fff;
	}
	.navbar .nav > li > a:hover,
	.navbar .nav > li.active > a,
	.navbar .nav > li.active > a:hover,
	.navbar .nav > li.active > a:focus {
		color: #fff;
		border: none;
		text-decoration: none;
		background: #34529b;
	}
	.style-red .navbar .nav > li > a:hover,
	.style-red .navbar .nav > li.active > a,
	.style-red .navbar .nav > li.active > a:hover,
	.style-red .navbar .nav > li.active > a:focus {
		background: #a50022;
		border: none;
	}
	.navbar-row {position: relative;}
	/* navbar end */
	.slogan, .inner .slogan,
	.white-page .slogan {
		clear: both;
		color: #fff;
		display: block;
		float: none;
		font-size: 12px;
		font-weight: normal;
		left: 0;
		line-height: 15px;
		margin: 0;
		padding: 15px 0 0;
		position: static;
		text-align: center;
		width: auto;
	}
	.inner .slogan,
	.white-page .slogan {
		color: #97a2b6;
		margin: 0 0 -10px;
	}
	.style-red .slogan {
	    color: #fff;
	    margin: 0 0 -9px;
	    padding: 26px 0 0;
	}
	.hidden-tablet {display: none !important;}
	.navbar .btn-navbar {
		display: block;
		margin: 6px 0 0;
	}
	.collapse.in {height: auto;	}
	.nav-collapse.collapse {
		height: auto;
		overflow: visible;
		clear: both;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: 0;
		overflow: hidden;
	}
	.last-comments, .archive {
		clear: both;
		margin: 0;
		padding: 0 0 10px;
		width: 100%;
	}
	.last-comments {
		margin: 0;
		padding: 0 0 25px;
	}
	.news h1 {
		font-size: 24px;
		line-height: 29px;
		margin: 0 0 9px 78px;
	}
	/* add-comment */
	.add-comment .holder {padding: 30px 5%;}
	.add-comment .text-holder.holder {padding: 24px 5% 27px;}
	.add-comment .col1, .add-comment .col2 {
		width: auto;
		clear: both;
		float: none;;
	}
	.add-comment .col1:after,
	.add-comment .col2:after {
		clear: both;
		content: "";
		display: block;
	}
	.add-comment input[type="text"] {
		padding: 8px 2%;
		width: 96%;
	}
	.add-comment textarea {
		padding: 11px 2%;
		width: 96% !important;
	}
	.add-comment .capcha {
		display: block;
		float: none;
		margin: 0 0 15px;
		overflow: hidden;
	}
	.add-comment .capcha-content {
		overflow: hidden;
		margin: 0 0 10px
	}
	.add-comment button[type="button"] {
		clear: both;
		display: block;
		float: none;
		width: 100%;
	}
	.add-comment .note {
		float: none;
		margin: 0 0 10px;
		overflow: hidden;
		width: auto;
	}
	.add-comment .note span {display: inline;}
	.box-checkbox {
		width: auto;
		float: none;
	}
	aside {
		float: none;
		margin: 0;
		overflow: hidden;
		width: auto;
	}
	.content {
		float: none;
		overflow: hidden;
		padding: 0 5%;
		width: auto;
	}
	aside .box {
		margin: 0 5% 25px;
		width: auto;
	}
	aside .box h3 {float: none;}
	.about-project {
	    float: none;
	    margin: 0 0 15px;
	    overflow: hidden;
	    width: auto;
	}
	.two-columns {clear: both;}
	/* main book */
	.main-book body {min-width: 100%;}
	.tabset span {
		width: 32px;
		height: 32px;
	}


	.tabset em {
	    border: 1px solid #CB0D23;
	    border-radius: 7px;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
	    font: bold 11px/14px Arial,Helvetica,sans-serif;
	    height: 14px;
	    width: 14px;
	}

	.tabset a {
	    padding: 8px;
	}


	.tabset .tab-1 span {
	    background-position: 0 2px;
	}
	.tabset .tab-2 span {
	    background-position: 0 -49px;
	}
	.tabset .tab-3 span {
	    background-position: 0 -99px;
	}
	.tabset .tab-4 span {
	    background-position: 0 -151px;
	}
	.tabset .tab-5 span {
	    background-position: 0 -202px;
	}
	.tabset .tab-6 span {
	    background-position: 0 -250px;
	}
	.tabset .tab-7 span {
	    background-position: 0 -301px;
	}
	.tabset .tab-1:hover span,
	.tabset .tab-1:active span,
	.tabset .tab-1.active span {
	    background-position: 0 -369px;
	}
	.tabset .tab-2:hover span,
	.tabset .tab-2:active span,
	.tabset .tab-2.active span {
	    background-position: 0 -420px;
	}
	.tabset .tab-3:hover span,
	.tabset .tab-3:active span,
	.tabset .tab-3.active span {
	    background-position: 0 -470px;
	}
	.tabset .tab-4:hover span,
	.tabset .tab-4:active span,
	.tabset .tab-4.active span {
	    background-position: 0 -522px;
	}
	.tabset .tab-5:hover span,
	.tabset .tab-5:active span,
	.tabset .tab-5.active span {
	    background-position: 0 -573px;
	}
	.tabset .tab-6:hover span,
	.tabset .tab-6:active span,
	.tabset .tab-6.active span {
	    background-position: 0 -621px;
	}
	.tabset .tab-7:hover span,
	.tabset .tab-7:active span,
	.tabset .tab-7.active span {
	    background-position: 0 -672px;
	}
	.tabset a:active:after,
	.tabset a:hover:after,
	.tabset .active:after {
	    margin: -17px 0 0;
	}



	.header h1 {
		display: none;
	}

	.main-book .container h2 {
		font: 25px/31px "Neo Sans Cyr", Arial, Helvetica, sans-serif;
		margin: 0 0 8px;
	}

	.main-book p {
		margin: 0 0 15px;
	}
	.main-book .container,
	.main-book .navbar-static-top .container,
	.main-book .navbar-fixed-top .container,
	.main-book .navbar-fixed-bottom .container {

	}
	.subnav-fixed .subnav-fixed-holder {

	}
	.main-book .header .holder {
	    margin: 6px 9px;
	}

	.header .col:after {
		content: "";
		display: block;
		clear: both;
	}
	.header .user-info {
	    float: right;
	    margin: 0;
	}
	.main-book .footer {
	    height: 11px;
	    padding: 0;
	}

	.jqm-navmenu-link {
	    display: block;
	    float: left;
	}


	.right-box, .left-box {
		top: 52px;
	}



	.main-book .main {
	    margin: 52px 60px 0 48px;
	}


	.subnav-fixed-frame {padding: 15px 15px 16px;}
	.container-scroll-box-holder {padding: 16px;}

	.main.pushed-right {
	    margin-right: 0px !important;
	}
	.main.pushed-left {
	    margin-left: 0px !important;
	}

	.subnav-fixed .pushed-right {

	}

	.subnav-fixed .pushed-left {

	}


	.serv {
		clear: both;
		overflow: hidden;
	}
	.serv .link {
		display: none;
	}

	.main-book .form-search {
	    margin: 5px 0 0;
	}
	.main-book .form-search input[type="search"] {
	    width: 225px;
	}
		.overlay {
		display: none;
	}
}

@media (min-width: 720px) and (max-width: 1003px) {
	.overlay {
		display: none;
	}
	.main-container {margin: 0 2%;}
	aside {width: 24%;}
	.content {width: 74.4%;}
	.add-comment .capcha input[type="text"] {width: 60px;}
	ul.news li {padding: 40px 5%;}
	.navbar .container, .container,
	.navbar-static-top .container,
	.navbar-fixed-top .container,
	.navbar-fixed-bottom .container, .footer {width: auto;}
	.three-columns .last-comments strong.ttl {margin: 0 0 15px;	}
	.logo {margin: -3px 10px 0 -3px;}
	.front-promo .news {padding: 15px 5%;}
	.front-promo .news .item {padding: 5px 15px 5px 0;}
	.front-promo {margin: 0 0 30px;}
	.about-project {
		float: none;
		margin: 0 0 15px;
		overflow: hidden;
		width: auto;
	}
	.two-columns {clear: both;}
	.last-comments {
		float: left;
		margin: 0;
		width: 63%;
	}

	.main-book .main {
	    margin: 59px 58px 0;
	}
	.archive {
		float: right;
		margin: 0;
		width: 35%;
	}
	.last-comments .span-holder {padding: 0 25px 0 62px;}
	.archive .span-holder {
		float: none;
		padding: 0 0 0 62px;
	}
	.row {margin: 0;}
	.three-columns {margin: 0 5% 25px;	}
	.news-text {overflow: visible;	}
	.news .row {
		margin: 0;
        padding: 0 0 0 80px;
	}
	.news .date {
		padding-right: 18px;
		width: auto;
	}
	.news h1 {margin: 0 0 9px 78px;}
	.footer {padding: 4% 0;}
		/* navbar start */
	.navbar {padding: 28px 0 0;	}
	.navbar .navbar-row {padding: 0 5% 28px;}
	.navbar .navbar-row:after {
		clear: both;
		content: "";
		display: block;
	}
	.navbar .nav {
		float: none;
		margin: 0;
		background: #fff;
	}
	.navbar .nav li,
	.style-red .navbar .nav li {
		float: none;
		line-height: 39px;
		margin: 0;
		border-bottom: 1px solid #e8e8e8;
	}
	.navbar .nav li:last-child,
	.navbar .nav li.active,
	.style-red .navbar .nav li:last-child,
	.style-red .navbar .nav li.active {
		border: none;
	}
	.navbar .nav li a,
	.style-red .navbar .nav li a {
		border: none;
		color: #192d53;
		padding: 0 73px;
	}
	.navbar .nav a:hover,
	.style-red .navbar .nav a:hover {
		color: #fff;
	}
	.navbar .nav > li > a:hover,
	.navbar .nav > li.active > a,
	.navbar .nav > li.active > a:hover,
	.navbar .nav > li.active > a:focus {
		color: #fff;
		border: none;
		text-decoration: none;
		background: #34529b;
	}
	.style-red .navbar .nav > li > a:hover,
	.style-red .navbar .nav > li.active > a,
	.style-red .navbar .nav > li.active > a:hover,
	.style-red .navbar .nav > li.active > a:focus {
		background: #a50022;
		border: none;
	}
	.navbar-row {position: relative;}
	/* navbar end */
	.slogan, .inner .slogan, .white-page .slogan {
		color: #fff;
		float: none;
		font-size: 12px;
		font-weight: normal;
		left: 50%;
		line-height: 15px;
		margin: 0 0 0 -94px;
		position: absolute;
		width: 285px;
	}
	.inner .slogan,
	.white-page .slogan {color: #97a2b6;}
	.style-red .slogan {color: #fff;}
	.hidden-tablet {display: none !important;}
	.navbar .btn-navbar {
		display: block;
		margin: 6px 0 0;
	}
	.collapse.in {height: auto;}
	.nav-collapse.collapse {
		height: auto;
		overflow: visible;
		clear: both;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: 0;
		overflow: hidden;
	}
	.add-comment .holder {padding: 30px 8%;}
	.add-comment .col1, .add-comment .col2 {
		width: auto;
		clear: both;
		float: none;;
	}
	.add-comment .col1:after, .add-comment .col2:after {
		clear: both;
		content: "";
		display: block;
	}
	.add-comment input[type="text"] {
		padding: 8px 2%;
		width: 96%;
	}
	.add-comment textarea {
		padding: 11px 2%;
		width: 96% !important;
	}
	.add-comment .capcha {
		display: block;
		float: none;
		margin: 0 0 15px;
		overflow: hidden;
	}
	.add-comment button[type="button"] {float: right;}
	.add-comment .note {
		float: none;
		margin: 0 0 10px;
		overflow: hidden;
		width: auto;
	}
	.add-comment .note span {display: inline;}
	.box-checkbox {
		width: auto;
		float: none;
	}
	.main-book body {min-width: 100%;}
	.header h1 {
	    display: none;
	}
	.jqm-navmenu-link {float: right;}
	.subnav-fixed-bottom {
	    bottom: 0;
	    top: auto;
	}
	.header .user-info {
	    float: right;
	    margin: 0;
	}
	.main-book .footer {
	    height: 11px;
	    padding: 0;
	}

	.jqm-navmenu-link {
	    display: block;
	    float: left;
	}
}

@media screen and (max-width: 479px) {
	.tab-content ol li {
	    margin: 0 0 9px;
	}
	.main-book .form-search input[type="search"] {
	    width: 120px;
	}
	.main-book body {min-width: 320px;
		font: 11px/1.3 Verdana, Geneva, Arial, Helvetica, sans-serif !important;
	}
	.tabset a {
		padding: 2px 7px 2px 2px !important;
	}
	.right-box .tabset a {
		padding: 2px 2px 2px 7px !important;
	}
	.main-book .header .holder {
		margin: 4px !important;
	}
	.tabset li {
		margin: 0 0 13px !important;
	}
	.main-book .main {
	    margin: 43px 40px 0;
	}
	.right-box, .left-box {
		top: 43px !important;
	}
	.main-book .logo {
		height: 35px !important;
		width: 43px !important;
		margin: 0 !important;
		background-size: cover !important;
		-moz-background-size: cover !important;
		-webkit-background-size: cover !important;
	}
	.container-scroll-box-holder {
		padding: 8px !important;
	}
	.tabset {
		padding-top: 24px !important;
	}
	.main-book .container h2 {
		font: 20px/1.2 "Neo Sans Cyr", Arial, Helvetica, sans-serif !important;
	}
	.main-book .subnav-fixed h2 {
		font: 13px/1.3 Ubuntu, Arial, Helvetica, sans-serif !important;
	}
	.ava {
		height: 35px !important;
		width: 35px !important;
	}

	.jqm-navmenu-link {
	    background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
	    height: 19px;
	    margin: 9px 0 0 12px !important;
	    width: 21px;
	}
	.tab-scroll {
		width: 200px !important;
	}
	.tab-content .heading {
		width: 126px !important;
	}
.tab-content .tab-preambula {
	padding: 25px 7px 0 7px;
    width: 186px;
}

.tab-content .tab-preambula img{
	height:110px;
}




	.overlay {
		display: none !important;
	}
}







.fullscreen-m {
	margin: 0 !important;
}
.fullscreen-p {
    padding: 0 !important;
}


.fullscreen-m .subnav-fixed-frame {
    padding: 15px 10px 16px;
}

.fullscreen-p .container-scroll-box-holder {
    padding: 15px;
}