.quiz-body {
	margin: 1em 0;
	color: #7b838d;
	border-bottom: 1px solid #cccccc;
}
.quiz-snippet .quiz-header {
	border-bottom: 1px solid #cccccc;
}
.quiz-snippet textarea {
	display: block;
	background: #f7f5f0;
	width: 98%;
	height: 70px;
	border: 1px solid #cccccc;
}
.quiz-snippet button {
	margin: 10px 0;
}
.quiz-answer-header {
	text-decoration: underline;
	font-weight: bold;
	display: block;
}
.quiz-right-answer {
	display: block;
}